<mat-card class="card">
  <div class="header">
    <mat-card-header>
      <div mat-card-avatar class="header-image" [ngStyle]="{ 'backgroundImage': 'url(' + user.photo + ')'}"></div>
      <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
      <mat-card-subtitle>{{user.role}}</mat-card-subtitle>
    </mat-card-header>
    <i class="material-icons md-24 icon-detail icon-edit">edit</i>
  </div>
  <mat-card-content>
    <div class="detail">
      <i class="material-icons md-24 icon-detail">people</i>
      <p>{{user.team}}</p>
    </div>
    <div class="detail">
      <i class="material-icons md-24 icon-detail">call</i>
      <p>{{user.phone}}/p>
    </div>
    <div class="detail">
      <i class="material-icons md-24 icon-detail">email</i>
      <p>{{user.email}}</p>
    </div>
  </mat-card-content>
</mat-card>
