<mat-card class="card">
  <div class="header">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Julien PIGNOLET</mat-card-title>
      <mat-card-subtitle>Analyste développeur</mat-card-subtitle>
    </mat-card-header>
    <i class="material-icons md-24 icon-detail icon-edit">edit</i>
  </div>
  <mat-card-content>
    <div class="detail">
      <i class="material-icons md-24 icon-detail">people</i>
      <p>Equipe Portail web entreprise</p>
    </div>
    <div class="detail">
      <i class="material-icons md-24 icon-detail">call</i>
      <p>06.37.59.45.97</p>
    </div>
    <div class="detail">
      <i class="material-icons md-24 icon-detail">email</i>
      <p>julien.pignolet@hotmail.fr</p>
    </div>
  </mat-card-content>
</mat-card>
