.card {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-image {
  background-size: cover;
}

.icon-detail {
  margin-top: 10px;
  margin-right: 10px;
}

.detail {
  display: flex;
}
