.card {
  width: 300px;
  height: 200px;
  margin: 5px;
  display: flex;
  justify-content: center;
}

img {
  max-height: 150px;
  max-width: 200px;
}

ngx-doc-viewer {
  max-height: 150px;
  max-width: 200px;
}

a {
  text-decoration: none;
}
