<mat-sidenav-container class="sidenav-container" (backdropClick)="close('backdrop')" >
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose #drawer class="sidenav">
    <mat-toolbar>
      <i (click)="sidenav.close()" class="material-icons">
        menu
      </i><span>
      Menu
    </span>

    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" [routerLink]="['/dashboard']" (click)="sidenav.close()">Dashboard</a>
      <a mat-list-item routerLinkActive="active" [routerLink]="['/actu']" (click)="sidenav.close()">Actualités</a>
      <a mat-list-item routerLinkActive="active" [routerLink]="['/user']" (click)="sidenav.close()">Utilisateurs</a>
      <a mat-list-item routerLinkActive="active" [routerLink]="['/ged']" (click)="sidenav.close()">GED</a>
      <router-outlet></router-outlet>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="myheader">
      <div class="headerleft">

        <button mat-button color="" >
          <i (click)="sidenav.open()" class="material-icons">
            menu
          </i>
        </button>
        <span>Portail Web M2GI</span>
      </div>

      <div class="headerright">
        <button (click)="signOut()" mat-button>
          <i class="material-icons">
            power_settings_new
          </i>
          Déconnexion
        </button>
      </div>

    </mat-toolbar>
    <!-- Add Content Here thanks to routing -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
