<div class="my-container">
<h1>Bienvenue sur le dashboard</h1>

<mat-list>
  <h3 mat-subheader>Liste des fonctionnalités</h3>
  <mat-list-item>
    <mat-icon mat-list-icon><i class="material-icons">
      dashboard
    </i></mat-icon>
    <h4 mat-line>Dashboard</h4>
    <p mat-line>Le dashboard permet d'avoir un aperçu de toutes les fonctionnalités accessible sur ce portail web.</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon mat-list-icon>
      <i class="material-icons">
        insert_drive_file
      </i>
    </mat-icon>
    <h4 mat-line>Gestion Electronique des Documents</h4>
    <p mat-line> La GED permet de stocker et d'accéder aux documents présents.</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon mat-list-icon>
      <i class="material-icons">
        fiber_new
      </i>
    </mat-icon>
    <h4 mat-line>Actualités</h4>
    <p mat-line> Une page où les administrateurs ajoutent les news.</p>
  </mat-list-item>
</mat-list>

Utilisez le menu en haut à gauche pour changer de page !
</div>
