<mat-card class="center">
  <mat-card-header>
    <mat-card-title>Connexion</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="OnSubmit()" class="example-form">
      <div *ngIf="email.errors?.required && (loginForm.dirty)" class="errors cross-validation-error-message alert alert-danger">
       Renseignez une adresse email
      </div>

      <div *ngIf="email.errors?.email && (loginForm.dirty)" class="errors cross-validation-error-message alert alert-danger">
        Utilisez une adresse mail valide
      </div>

      <mat-form-field class="example-full-width">
        <input type="email" matInput placeholder="Email" formControlName="email" email required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit" [disabled]="!loginForm.valid">Submit</button>
    </form>
  </mat-card-content>

</mat-card>


